.addForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 758px;
}
.inputForm {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.input {
  width: 758px;
  height: 30px;
  border-radius: 10px;
  border: 0.5px solid grey;
  display: flex;
}

.addBtn {
  cursor: pointer;

  background-color: rgb(72, 68, 68);
  color: aliceblue;
  width: 758px;
  height: 30px;
  border-radius: 10px;
  border: 0.5px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.addBtn:hover,
.addBtn:focus {
  background-color: rgb(49, 63, 28);
}
