.userMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #40A2E3 ;
}

.logOutBtn {
    width: 60px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
    border: none;
    background-color: #40A2E3;
    color: #edf9fa;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logOutBtn:hover {
    background-color: #0D9276;
    
}